.Table {
  margin: 5vw;
}

@media only screen and (max-width: 650px) {
  .Table {
    margin: 0%;
  }
}

.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}